<%= provide(:title, 'About') %>
<div class="container">
<div class="row">
<div class="col-md-9 col-centered">
<h3>About</h3>
<div class="row">
<div class="col-md-11 col-md-offset-2 col-centered" style="padding-top:1em;">
<p>Welcome to UNLV's QR Code Scavenger Hunt Site! This application was originally conceived at the UNLV Computer Science Department by Ed Jorgensen and Guymon Hall to help students familiarize themselves with various locations around the UNLV campus. </p>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-9 col-centered">
<h3>Contributors</h3>
<div class="row">
<div class="col-md-11 col-md-offset-2 col-centered" style="padding-top:1em;">
<p>Thank you to the following individuals for their contributions: </p>
</div>
</div>
<div class="row">
<div class="col-md-11 col-md-offset-2 col-centered" style="padding-top:1em;">
<ul>
<li>Megan Freeman</li>
<li>Reiley Porter</li>
<li>Carmon Wong</li>
<li>Beverly Wood</li>
</ul>
</div>
</div>
<div class="row">
<div class="col-md-11 col-md-offset-2 col-centered" style="padding-top:1em;">
<p>To contribute to this project, please contact <code>g u y m o n . h a l l @ u n l v . e d u</code>. </p>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-9 col-centered">
<h3>License</h3>
<div class="row">
<div class="col-md-11 col-md-offset-2 col-centered" style="padding-top:1em;">
<p>This application and its source code are licensed under the MIT License: </p>
</div>
</div>
<div class="row">
<div class="col-md-11 col-md-offset-2 col-centered" style="padding-top:1em;">
<p>Copyright (c) 2016 Guymon Hall </p>
</div>
</div>
<div class="row">
<div class="col-md-11 col-md-offset-2 col-centered" style="padding-top:1em;">
<p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions: </p>
</div>
</div>
<div class="row">
<div class="col-md-11 col-md-offset-2 col-centered" style="padding-top:1em;">
<p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. </p>
</div>
</div>
<div class="row">
<div class="col-md-11 col-md-offset-2 col-centered" style="padding-top:1em;">
<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. </p>
</div>
</div>
</div>
</div>
</div>
