<%= provide(:title, 'Developer') %>
<div class="container">
<div class="row">
<div class="col-md-9 col-centered">
<h3>Developer</h3>
</div>
</div>
<div class="row">
<div class="col-md-9 col-centered">
<h3>Introduction</h3>
</div>
</div>
</div>
