<%= provide(:title, 'Edit Options') %>

<div class="container">
  <div class="row">
    <div class="col-md-7 col-centered">
      <h3>Edit Options</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 col-centered">
      <%= render 'option_form' %>
    </div>
  </div>
</div>
