<%= provide(:title, "Editing #{@event.title}") %>

<div class="container">
  <div class="row">
    <div class="col-md-7 col-centered">
      <h3>Edit Event</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 col-centered">
      <%= render 'event_form' %>
    </div>
  </div>
</div>
