<%= provide(:title, 'New Account') %>

<div class="container">
  <div class="row">
    <div class="col-md-7 col-centered">
      <h3>New Account</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 col-centered">
      <%= render 'user_form' %>
    </div>
  </div>
</div>