<%= provide(:title, 'New Location') %>

<div class="container">
  <div class="row">
    <div class="col-md-7 col-centered">
      <h3>New Location</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 col-centered">
      <%= render 'location_form' %>
    </div>
  </div>
</div>
