<%= provide(:title, 'User') %>
<div class="container">
<div class="row">
<div class="col-md-9 col-centered">
<h3>User</h3>
</div>
</div>
<div class="row">
<div class="col-md-9 col-centered">
<h3>Introduction</h3>
<p>In this QR Code Scavenger Hunt, you can create and participate in various scavenger hunt events. </p>
</div>
</div>
</div>
