<%= provide(:title, 'User') %>
<div class="container">
<div class="row">
<div class="col-md-9 col-centered">
<h3>User</h3>
</div>
</div>
<div class="row">
<div class="col-md-9 col-centered">
<h3>Create an account</h3>
<div class="row">
<div class="col-md-11 col-md-offset-2 col-centered" style="padding-top:1em;">
<p>On the homepage, click "signup".  Enter your information and click "submit".  Once your account is created, you will be redirected to your homepage (Dashboard). </p>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-9 col-centered">
<h3>Join an event</h3>
<div class="row">
<div class="col-md-11 col-md-offset-2 col-centered" style="padding-top:1em;">
<p>When logged in, go to the main Homepage.  This will display a list of the active events.  Select an event to join.  Go to your Dashboard to confirm you have joined the event. </p>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-9 col-centered">
<h3>Visit locations</h3>
<div class="row">
<div class="col-md-11 col-md-offset-2 col-centered" style="padding-top:1em;">
<p>Visit each event location.  When you arrive at a given location, scan the available QR code.  When prompted, input your credentials to check in are mark the location as "visited".     </p>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-9 col-centered">
<h3>View your dashboard</h3>
<div class="row">
<div class="col-md-11 col-md-offset-2 col-centered" style="padding-top:1em;">
<p>When logged in, click "Dashboard".  This page displays all events you are participating in, event you own, and items you own.  To view your account details, click on the dropdown tab labelled with your email address.  This will display your account details.  Input any information you wish to update. </p>
</div>
</div>
</div>
</div>
</div>
